*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  background-image: url("https://img.freepik.com/vector-gratis/fondo-plano-estilo-comic_52683-54699.jpg?w=1380&t=st=1678706264~exp=1678706864~hmac=d584876e42a6b6e64a73875f1f4c9b14be4d7b16c6459177f5ad10e19927b84c") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.padre{
 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap:6%;

  
}

.container{
  
  margin-top: 22%;
  margin-right: 20%;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
}

.form {
  width: 60%;
  height: 30%;
 margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(251, 206, 58);
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(241, 6, 6, 0.939) 1px 2px 2px;
}

.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #d41313;
  box-shadow: 10px 10px 0px #f40b0b;
}


.input {
  height: 20%;
  border-radius: 60px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: none;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(196, 8, 8, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #e70a0a,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}

.button{
  border: none;
  background-color: #dc3e3e;
  border-radius: 4px;
  height: 10%;

}